html, body {
	background-color: lightblue;
}

.intro {
	text-align: center;
	background-color: #fcfcdc;
	padding: 20px 0;
}

.intro-title {
	font-family: 'Literata', serif;
}

.intro-text {
	font-size: 30px;
}

.video-section {
	text-align: center;
}

.img-section {
	text-align: center;
}
